#contextMenu{
    position: absolute;
    display: none;
}

#contextMenu li{
    cursor: pointer;
}

#grid > div:hover > .card{
    background-color: #f0f0f0;
}
.panel-download{
    visibility: hidden;
}

#grid > div:hover .panel-download{
    visibility: visible;
}

#grid .card{
    cursor: pointer;
}.right-0{
    right: 0;
}
.fs-100{
    font-size: 100%;
}
.panel-img{
    position: relative;
}
.badge-center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: bold;
    font-size: 20pt;
    opacity: 0.8;
    letter-spacing: 2px;
}
.panel-download{
    position: absolute;
    top: 0;
    right: 0;
    color: blue;
}